html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: none;
}

html, body{
	background-color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
}

#pokedex {
	width: 630px;
	margin: 30px auto;
	box-shadow: 10px 10px 60px #888888;
	height: calc(100vh - 60px);
}

#pokedex section {
	background-image: url("assets/backgrounds/background_home.png");
	background-size: cover;
	width: 100%;
	height: calc(100% - 120px);
	max-height: calc(100% - 120px);
	overflow-y: scroll;
	position: relative;
}

#pokedex section::-webkit-scrollbar {
	display: none;
}

#search {
	box-sizing: border-box;
	width: calc(100% - 60px);
    margin: 20px 24px 20px 16px;
	border: 1px solid #070808;
	padding: 10px;
	font-size: 0.8em;
}

figure {
    margin: 10px 24px 10px 16px;
	display: grid;
	grid-template-columns: 27% 73%;
}

figure>div {
	margin: 0;
}

figure>div:nth-of-type(2) {
	background-color: white;
	border: 1px solid #070808;
	margin-left: 40px;
}

figure img {
	width: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: center;
}

figcaption {
	background-color:  #5D90CB;
	color: white;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding-left: 20px;
	font-size: 1.1em;
	border-bottom: 1px solid #070808;
}

figure ul {
	list-style-position: inside;
	list-style-type: none;
	margin: 15px;
	height: 100%;
}

figure ul li:before { 
	content: "- ";
}

.description {
    margin: 20px 24px 20px 16px;
	background-color: white;
	border: 7px solid #BD5858;
	border-radius: 20px;
	min-height: calc(100% - 489px);
}

.description p {
	margin: 22px;
	font-size: 0.9em;
}

.thumbnail-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0;
}

.thumbnail {
	width: 100%;
	margin:	0;
	box-sizing: border-box;
	border: 1px solid #37383B;
}


/*********   header   **********/
header {
	background-color: #BD5858;
	color: white;
	position: relative;
	box-sizing: border-box;
	height: 60px;
	width: 100%;
	padding: 0 10px;
	display: grid;
	grid-template-columns: 120px auto 120px;
}

header img {
    margin: 0;
    height: 40px;
    width: 100%;
    object-fit: contain;
    object-position: right;
}

.select {
	font-size: 16px;
	position: relative;
	display: inline-block;
}

.select select {
	outline: none;
	-webkit-appearance: none;
	display: block;
  
	line-height: normal;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	background-color: #E4F0EF;
	line-height: 1.1em;
	min-width: 100px;
	font-size: 1.1em;
	padding: 3px 10px;
	border: 1px solid #070808;
	border-radius: 5px;
 }

 .select select:hover,
 .select:hover select {
	background-color: #d9fffc;
 }

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	line-height: 60px;
}

button {
	background-color: #E4F0EF;
	line-height: 1.1em;
	min-width: 100px;
	font-size: 1.1em;
	border: 1px solid #070808;
	border-radius: 5px;
}

button:hover{
	background-color: #d9fffc;
}

footer {
	background-color: #5D90CB;
	height: 40px;
	padding-top: 20px;
}

footer nav {
	position: relative;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

footer button {
	text-transform: uppercase;
	margin: 0 auto;
	cursor: pointer;
}


/*********   article   **********/
article {

}

/*********   section   **********/
section {

}

/*********   nav   **********/

nav {

}
