html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: none;
}

html, body{
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}


/*********   header   **********/
header {
	text-align: center;
	box-sizing: border-box;
	height: 50px;
}

#dropdown {
	float: left;
	margin: 15px;
	font-size: 16px;
}

#site-title {
	font-size: 36px;
	color: white;
	border: 15px;
	width: 25%;
	vertical-align: middle;
	font-weight: 700;
	font-size: 24px;
	display: inline;
}

img#logo {
	width: 48px;
	display: inline;
	margin: 0px;
	float: right;
}

/*********   article   **********/
article {

}

input {
	margin: 15px;
	width: 94%;
}

ul {
	list-style: none;
}

/*********   section   **********/
section {

}
section#container {
	background-image: url('assets/backgrounds/background_home.png');
	background-size: cover;
}

#selected_poke_container {
	height: 200px;
}

.info_text {
	padding: 10px;
	font-size: 24px;
}

#selected_poke {
	width: 25%;
	float: left;
	/* display: inline; */
	height: inherit;
	padding-left: 20px;
}

img.selected {
	height: 100%;
}

#info_box {
	width: 66%;
	float: left;
	display: inline;
	margin-top: 30px;
	height: inherit;
}

#info_box_head {
	background-color: rgb(94, 143, 204);
	color: white;
	width: inherit;
}

#info_box_property {
	width: inherit;
	background-color: white;
}

div#poke_text {
	border-radius: 15px;
	border: 8px solid rgb(190, 88, 89);
	padding: 25px;
	width: 90%;
	background-color: white;
	font-size: 24px;
}

/*********   nav   **********/
nav {

}

/*********   colors   **********/
.red {
  background-color: rgb(190, 88, 89);
}

.blue {
	background-color: rgb(94, 143, 204);
}
